:root {
--primary-title-color: #212121;
--primary-text-color: #757575;
--color-for-button: #2196F3;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#FFFFFF;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}
a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 15px;


    /* border: 1px solid red; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* ------------HEDER------------ */

.header-old {
    border-bottom: 1px solid #ECECEC;
}

.header, header nav {
    display:flex;
    align-items: center;
}

.logo {
    margin-right: 50px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-for-button);
}

.logo > span {
    color: #000000;
}

.header-main, .header-contacts {
    display: flex;
}

.header-contacts {
    margin-left: auto;
} 

.header-main > .item + .item, .header-contacts > .item + .item {
    margin-left: 50px;
}

.header-main a, .header-contacts a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;  
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}


.header-contacts a {
    color: var(--primary-text-color);
}

.header-main a:hover, 
.header-main a:focus,
.header-contacts a:hover, 
.header-contacts a:focus {
    color: var(--color-for-button);
}

/* ------------HERO------------ */

.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    background: var(--color-for-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-button:hover, .hero-button:focus{
    background-color: #188CE8;  
}


/* ------------BENEFITS------------ */


.benefits-list {
    display: flex;
}

.benefits-list-bloc{
    flex-basis: calc((100% - 90px) / 4);
}

.benefits-list-bloc + .benefits-list-bloc {
    margin-left: 30px;
}

.benefits-list h3 {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.benefits-list p {
    line-height: 1.7;
    color: var(--primary-text-color);
}

/* ------------TYPE-OF-WORK------------ */

.type-of-work-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center; 
    color: var(--primary-title-color);
}

.type-of-work-box {
    display: flex;
    
    margin-bottom: 94px;
}

.type-of-work-element + .type-of-work-element {
    margin-left: 30px;
}

.type-of-work-element {
    max-width: 370px;
}

.type-of-work-element > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------MASTERS------------ */

.masters {
    background: #F5F4FA;

    text-align: center;
}


.masters-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--primary-title-color);
}

.master-full-block {
    display: flex;
}

.master-block:not(:last-child) {
    margin-right: 30px;
}

.master-block {
    flex-basis: calc((100% - 90px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.master-block > img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.master-block-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.master-block-container h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-title-color);
}

.master-block-container p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);

}

/* ------------FOOTER------------ */

.footer {
    background-color: #2F303A;
}
.footer-container {
    padding-top: 14px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-logo >span {
    color: #FFFFFF;
}

.footer-address li {
    margin-bottom: 9px;
}

.footer-address > li:last-child {
    margin-bottom: 0px;
}

.footer-map-adr {
    font-style: normal;
    line-height: 1.7;
    color: #FFFFFF;
}

.footer-contact {
    font-style: normal;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.footer-map-adr:hover,
.footer-map-adr:focus, 
.footer-contact:hover,
.footer-contact:focus {
    color: var(--color-for-button);
}

/* ------------PORTFOLIO------------ */

.portfolio-button-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-title-color);
    border: none;
    cursor: pointer;
    padding: 6px 22px;

    background: #F5F4FA;
    border-radius: 4px;
}

.portfolio-button:hover, 
.portfolio-button:focus {
    color: #FFFFFF;
    background: var(--color-for-button);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.cart-list{
    display: flex;
    flex-wrap: wrap;
}

.cart-list-element {
    flex-basis: calc((100% - 60px) / 3);
}

.cart-list-element:not(:nth-child(3n)) {
    margin-right: 30px;
}

.cart-list-element:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.cart-list-element  img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.cart-list-box {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE; ;
    border-bottom: 1px solid #EEEEEE;;

}


.portfolio-project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.portfolio-project-text {
    margin-top: 4px;
    
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}
