.hero {
    background-color: #2F303A;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/img/Header\ img-480.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Header\ img-480@2x.jpg);
            
    }


    @media screen and (min-width: 576px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Header\ img768.jpg);

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Header\ img-768@2x.jpg);
            
        }
    }

    @media screen and (min-width: 960px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Img-1600.jpg);

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Img-1600@2x.jpg);
            
        }
    }

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &-title {
        margin-bottom: 30px;

        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;

        @media screen and (max-width: 1199px) {
            font-size: 26px;
            line-height: 1.62;
        }

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.3;
        }
    }

    &-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        color: #FFFFFF;

        background-color: $color-for-button;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        cursor: pointer;
        border-radius: 4px;

        @media screen and (max-width: 1199px) {
            padding: 10px 24px;
        }

        @media screen and (min-width: 1200px) {
            padding: 10px 32px;
        }

        &:hover, &:focus {
            background-color: #188CE8;
        }
    }
}