.header {
    background-color: $prymari-bacground-color;

    &-conteiner {
        display: flex;

        width: 1200px;
        margin-left: auto;
        margin-right: auto;

        padding-left: 15px;
        padding-right: 15px;
    }

    &-navigation {
        display: flex;
        align-items: center;
    }
}

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $prymari-color-akcent;

    &-span {
        color: $prymari-color;
    }
}

.header-main {
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;
} 

.header-main-element a, .header-contact-element a {
    display: block;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    color: $prymari-color;
    transition: color 250ms linear;

    font-family: "Roboto Flex" ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;

    &:hover, &:focus {
        color: $prymari-color-akcent;
    }

}

.header-main-element a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;

    width: 100%;
    height: 4px;

    background-color: $prymari-color-akcent;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms linear;
}

.header-main-element a:hover::after,
.header-main-element a:focus::after {
    transform: scaleX(100%);
}

.header-contact-element a {
    color: $prymari-color-three;
}
