.services {

    background-image: repeating-linear-gradient(
        -45deg,
        #d4d4d4,
        #d4d4d4 10px,
        #e8e8e8 10px,
        #e8e8e8 20px
      );

    &-title {
        text-align: center;
    }
}

.services-list {
    display: flex;
    gap: 15px;

    

    &-element {
        flex-basis: calc((100% - 30px) / 3);

        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 250ms linear;

        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &-bloc {
        position: relative;
        width: 380px;

        & > img {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        &-title {
            position: absolute;
            left: 0;
            bottom: 0;

            display: block;
            width: 100%;
            // height: 15.5%;

            text-align: center;
            padding: 25px 0;

            
            background-color: rgba(47, 48, 58, 0.8);

            & > h3 {
                margin: 0;
                color: #fff;

                font-size: 18px;
            }
        }

        &-texst {
            position: absolute;
            left: 0;
            top: 0;


            display: block;
            width: 100%;
            height: 84.5%;

            padding: 20px;
            background-color: rgba(33, 150, 243, 0.9);

            transform: translateX(-100%);
            transition: transform 250ms linear;

            .services-list-element:hover  &,
            .services-list-element:focus  & {
                transform: translateY(0);
            }

            & > p {
                color: #fff;
            }


        }
    }

}

