header{
    background-color: #84A178;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
     @media screen and (max-width: 767px) {
        width: 40px;
        height: 37px;
        
    }
    @media screen and (min-width: 768px) {
        width: 48px;
        height: 44px;
    }
    @media screen and (min-width: 1200px) {
        width: 60px;
        height: 65px;
    }
}



.menu-toggle {
    display: block;

    width: 32px;
    height: 32px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-top: 10px;
    // margin-bottom: 10px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    &-svg {
        object-fit: cover;
        background-color: transparent;

    }

    @media (min-width: 768px) {
        display: none;
    }

    &:hover, &:focus {
        fill: $color-for-button;
        background-color: transparent;
    }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &-blok {
    position: relative;

    padding: 40px 48px;

    max-width: 480px;
    height: 796px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}