* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Flex", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0 0 0;
}

.conteiner {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 15px;
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .conteiner {
    width: 425px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .conteiner {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: #ffffff;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 425px) {
  .header-conteiner {
    width: 425px;
  }
}
@media screen and (min-width: 768px) {
  .header-conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .header-conteiner {
    min-width: 960px;
    max-width: 1200px;
  }
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-span {
  color: #212121;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header-main-element a, .header-contact-element a {
  display: block;
  position: relative;
  color: #212121;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.header-main-element a:hover, .header-main-element a:focus, .header-contact-element a:hover, .header-contact-element a:focus {
  color: #2196f3;
}

.header-main-element a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-main-element a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.header-main-element a:hover::after,
.header-main-element a:focus::after {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

.header-contact {
  margin-left: auto;
}
@media screen and (min-width: 960px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
}

.header-contact-element a {
  color: #757575;
}
@media screen and (max-width: 959px) {
  .header-contact-element a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 960px) {
  .header-contact-element a {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
}

.menu-toggle {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-toggle-svg {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container-blok {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 425px;
  height: 100vh;
  border: 1px solid red;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: -3px;
  right: 15px;
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/mobi-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/mobi-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 450px;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/mobi-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/mobi-hero@2x.jpg);
  }
}
@media screen and (min-width: 960px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero-fon.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-fon.jpg);
  }
}
@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero-fon@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-fon@2x.jpg);
  }
}
.hero-titel {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-titel {
    font-size: 32px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 960px) {
  .hero-titel {
    font-size: 44px;
    line-height: 1.3;
  }
}
.hero-button {
  display: block;
  padding: 10px 27px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.hero-button:hover, .hero-button:focus {
  background-color: #0c6bb8;
}

.advantage-title {
  text-align: center;
  margin-bottom: 20px;
}
.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 960px) {
  .advantage-list {
    gap: 20px;
  }
}
.advantage-list-element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 97px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(0, 0, 0, 0.12), 1px 5px 7px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(0, 0, 0, 0.12), 1px 5px 7px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}
@media screen and (min-width: 768px) {
  .advantage-list-element {
    width: calc((100% - 10px) / 2);
  }
}
@media screen and (min-width: 960px) {
  .advantage-list-element {
    height: 120px;
    width: calc((100% - 20px) / 2);
  }
}
.advantage-list-title {
  text-align: center;
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .advantage-list-mobi {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .advantage-list-desc {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .advantage-list-element:nth-child(even) {
    padding-left: 75px;
  }
  .advantage-list-element:nth-child(odd) {
    padding-right: 75px;
  }
}
@media screen and (min-width: 960px) {
  .advantage-list-element:nth-child(even) {
    padding-left: 130px;
  }
  .advantage-list-element:nth-child(odd) {
    padding-right: 130px;
  }
}

.element-one {
  background-image: url(../img/Chep001.jpg);
  background-position: 104%;
}

.element-two {
  background-image: url(../img/Chep002.jpg);
  background-position: -13px;
}

.element-three {
  background-image: url(../img/Chep003.jpg);
  background-position: 102%;
}

.element-four {
  background-image: url(../img/Chep004.jpg);
  background-position: -18px;
}

.services {
  background-image: repeating-linear-gradient(-45deg, #d4d4d4, #d4d4d4 10px, #e8e8e8 10px, #e8e8e8 20px);
}
.services-title {
  text-align: center;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.services-list-element {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms linear;
  transition: -webkit-box-shadow 250ms linear;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms linear, -webkit-box-shadow 250ms linear;
}
@media screen and (min-width: 768px) {
  .services-list-element {
    -ms-flex-preferred-size: calc((100% - 10px) / 2);
        flex-basis: calc((100% - 10px) / 2);
  }
  .services-list-element:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 960px) {
  .services-list-element {
    -ms-flex-preferred-size: calc((100% - 20px) / 3);
        flex-basis: calc((100% - 20px) / 3);
  }
}
.services-list-element:hover, .services-list-element:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.services-list-bloc {
  position: relative;
  width: 100%;
}
.services-list-bloc > img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-list-bloc-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.services-list-bloc-title > h3 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}
.services-list-bloc-texst {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 84.5%;
  padding: 20px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.services-list-element:hover .services-list-bloc-texst, .services-list-element:focus .services-list-bloc-texst {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.services-list-bloc-texst > p {
  color: #fff;
}

.portfolio-title {
  text-align: center;
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.portfolio-list-element {
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
  width: 285px;
  height: 345px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  cursor: pointer;
}
.portfolio-list-element > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-list-element:hover, .portfolio-list-element:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.bacdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bacdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fff;
}
.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: red;
}
.modal-button-svg {
  display: block;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */