
$prymari-color: #212121;
$prymari-color-akcent: #2196f3;
$prymari-bacground-color: #ffffff;
$prymari-color-two: #3a3a3a;
$prymari-color-three: #757575;


a {
    text-decoration: none;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Roboto Flex", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.03em;

    color: $prymari-color-two;

    padding: 0;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: $prymari-color;

    font-size: 24px;

    margin: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0 0 0;
}

.conteiner {
    margin: 0 auto;
    padding: 35px 15px;

    @media screen and (min-width: 425px) and (max-width: 767px) {
        width: 425px;
    }

    @media screen and (min-width: 768px) and (max-width: 959px) {
        width: 768px;
    }

    @media screen and (min-width: 960px) {
        max-width: 1200px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}