@-webkit-keyframes header-animation {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes header-animation {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.general-title {
  font-weight: 700;
  text-align: center;
  color: var(--primary-title-color);
}
@media screen and (max-width: 1199px) {
  .general-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .general-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.header-old {
  border-bottom: 1px solid #ECECEC;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.1666;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo > span {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .heder-mobi-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .heder-mobi-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header-main a, .header-contacts a {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-main a, .header-contacts a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-main a:hover, .header-main a:focus, .header-contacts a:hover, .header-contacts a:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 90px;
  }
}
.header-main .item {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .header-main > .item + .item {
    margin-left: 50px;
  }
}
.header-main a {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header-main a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-main a:hover::after, .header-main a:focus::after {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contacts {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
.header-contacts a {
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contacts a {
    padding: 5px;
    font-size: 12px;
    line-height: 1.1666;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contacts .heder-svg {
  display: block;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contacts .heder-svg {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts .item + .item a {
    margin-left: 30px;
  }
}

.active a {
  color: #2196F3;
}
.active a::after {
  -webkit-animation: header-animation 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms forwards;
          animation: header-animation 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms forwards;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle-svg {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
  background-color: transparent;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container-blok {
  position: relative;
  padding: 40px 48px;
  max-width: 480px;
  height: 796px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
          
}

.menu-container .menu-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fff;
}

.mobile-menu a {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.175;
  background-color: transparent;
  color: #212121;
}
.mobile-menu a:hover, .mobile-menu a:focus {
  color: #2196F3;
  background-color: #fff;
}

.mobile-contacts {
  display: block;
  margin-top: 270px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-contacts-mail {
  display: inline-block;
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 64px;
}
.mobile-social a {
  font-size: 18px;
  line-height: 22px;
  color: #2196F3;
}
.mobile-social .item:not(:first-child) a {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-left: 10px;
}

.hero {
  background-color: #2F303A;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Header\ img-480.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Header\ img-480.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Header\ img-480@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Header\ img-480@2x.jpg);
  }
}
@media screen and (min-width: 576px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Header\ img768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Header\ img768.jpg);
  }
}
@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Header\ img-768@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Header\ img-768@2x.jpg);
  }
}
@media screen and (min-width: 960px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img-1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img-1600.jpg);
  }
}
@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img-1600@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img-1600@2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3;
  }
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .hero-button {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-button {
    padding: 10px 32px;
  }
}
.hero-button:hover, .hero-button:focus {
  background-color: #188CE8;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-list-bloc {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list-bloc {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.benefits-list-svg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits-list-svg-element {
  display: block;
  width: 70px;
  height: 70px;
  fill: #212121;
}
.benefits-list h3 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.15;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .benefits-list h3 {
    text-align: center;
  }
}
.benefits-list p {
  line-height: 1.7;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .type-of-work {
    display: none;
  }
}

.type-of-work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.type-of-work-element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
}
.type-of-work-element + .type-of-work-element {
  margin-left: 30px;
}
.type-of-work-element img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.type-of-work-element-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.type-of-work-element-texst {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.masters {
  background: #F5F4FA;
  text-align: center;
}

.master-full-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.master-block {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .master-block {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .master-block {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .master-block {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.master-block img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .master-block img {
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .master-block img {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .master-block img {
    height: 260px;
  }
}

.master-block-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .master-block-container {
    padding-bottom: 24px;
  }
}
.master-block-container h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}
.master-block-container p {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}

.master-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.master-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.master-social-link-svg {
  display: block;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  fill: currentColor;
}
.master-social-link:hover, .master-social-link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .customer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .customer-list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customer-list {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customer-list {
    -ms-flex-preferred-size: calc((100% - 120px) / 5);
        flex-basis: calc((100% - 120px) / 5);
  }
}
.customer-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .customer-list-link {
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customer-list-link {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-list-link {
    max-width: 170px;
  }
}
.customer-list-link:hover, .customer-list-link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}
.customer-list-link-svg {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
}
.footer-container {
  /* align-items: center; */
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-container > div {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}
.footer-logo span {
  color: #FFFFFF;
}

.footer-address li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-map-adr {
  font-style: normal;
  line-height: 1.7;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-map-adr:hover, .footer-address-map-adr:focus {
  color: #2196F3;
}
.footer-address-contact {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-contact:hover, .footer-address-contact:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 90px;
  }
}
.footer-social-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .footer-social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
}
.footer-social-link-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196F3;
}

@media screen and (max-width: 767px) {
  .sign-up {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up {
    margin-left: 93px;
  }
}
.sign-up-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sign-up-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .sign-up-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sign-up-block > input {
  height: 50px;
  padding: 16px 15px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767px) {
  .sign-up-block > input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up-block > input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up-block > input {
    width: 358px;
  }
}
.sign-up-block > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.sign-up-block-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.sign-up-block > input:focus {
  border: 1px solid #2196F3;
}
.sign-up-block > button:hover, .sign-up-block > button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50% -50%) scale(1.1);
          transform: translate(-50% -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal-title {
    line-height: 1.5;
  }
}

.button-modal {
  position: fixed;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover, .button-modal:focus {
  color: #2196F3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.button-modal-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal-general-list {
  margin-bottom: 20px;
}

.form-list-element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-list-element:not(:last-child) {
  margin-bottom: 10px;
}
.form-list-element > label {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form-list-element > input {
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-list-element > input:focus, .form-list-element textarea:focus {
  border: 1px solid #2196F3;
}

.modal-form-svg {
  position: absolute;
  display: block;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list-element > input:focus + .modal-form-svg {
  color: #2196F3;
}

.form-list-element textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: 0;
}
.form-list-element textarea::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-list-element textarea::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-list-element textarea:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-list-element textarea::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-list-element textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-last-blok {
  text-align: center;
}

.checkbox-agree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.1666;
  color: #757575;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .checkbox-agree {
    line-height: 1.7;
  }
}
.checkbox-agree a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.form-checkbox-svg {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: #fff;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-checkbox:checked ~ .form-checkbox-svg {
  fill: #2196F3;
  border: none;
}

.modal-button-submit {
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.modal-button-submit:hover, .modal-button-submit:focus {
  background-color: #188CE8;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */